.App {
  text-align: center;
  font-family: san-serif;
}
.container {
  border: 1px solid rgb(222, 221, 221);
  width: 80%;
  margin: 10px auto;
  padding: 20px;
}

.error {
  text-align: center;
  padding: 10px;
  border: 1px solid red;
  margin-bottom: 5px;
  border-radius: 3px;
}
